<div class="row justify-content-center">
  <div class="col-md-auto" style="width: 40%;">
    {{!-- 下拉選單做類別篩選 --}}
    <form action="/records/category" method="get" name="filterCategory">
      <select class="form-control" id="filter-category" name="filter" onchange="submit()">
        <option>{{filter}}</option>
        <option value="餐飲食品">餐飲食品</option>
        <option value="休閒娛樂">休閒娛樂</option>
        <option value="家居物業">家居物業</option>
        <option value="交通出行">交通出行</option>
        <option value="其他">其他</option>
        <option value="">全部支出</option>
      </select>
    </form>
  </div>
</div>

<div class="row justify-content-center my-3">
  {{!-- 計算總金額 --}}
  <div class="totalAmount">
    <font face="微軟正黑體" class="totalDisplay">總金額為:</font> <strong class="totalAmount">{{totalAmount}}</strong>

  </div>
</div>

<div class="row justify-content-center">
  {{!-- 紀錄清單 --}}
  <div class='recorditem'>
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="row mt-3">
          <h4 style="display: inline; text-align: left;">{{{this.icon}}}</h4>
          <div class="col-auto mr-auto">
            <h4 style="display: inline; text-align: middle;">{{this.name}}</h4>
            <p style="display: block; text-align: middle;">{{this.date}}</p>
          </div>
          <h2 style="display: inline; text-align: right;">{{this.amount}}</h2>
          <div class="col-auto">
            <a class="btn btn-outline-secondary" href="/records/{{this._id}}/edit"><i class="fas fa-edit"></i> 修改</a>
            <form action="/records/{{this._id}}?_method=delete" method="post" style="display: inline;"
              onsubmit="return confirm('確認刪除此筆支出紀錄?')">
              <button class="btn btn-outline-danger" type="submit"><i class="fas fa-trash-alt"></i> 刪除</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}

    </ul>
  </div>

  {{!-- </div> --}}