<ul>
  {{#each records}}
  <li>
    {{this.name}}
    {{this.category}}
    {{this.date}}
    {{this.amount}}
    <a href="./records/{{this._id}}/edit">修改</a>
  </li>
  {{/each}}
  <a href="/records/new" style="color: orange;">新增支出</a>
</ul>