<div class="container">
  <ul>
    {{#each records}}
    <li>
      {{this.name}}
      {{this.category}}
      {{this.date}}
      {{this.amount}}
      <a href="./records/{{this._id}}/edit">修改</a>
      <form action="./records/{{this._id}}?_method=delete" method="post" style="display: inline;">
        <button type="submit">整筆刪除</button>
      </form>
    </li>
    {{/each}}
    <a href="/records/new" style="color: orange;">新增支出</a>
  </ul>
</div>